/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

/* Variables */
:root {
    /* Primary Colors */
    --light-green: hsl(157, 74%, 62%);
    --dark-grey: hsl(225, 26%, 23%);
    --medium-grey: hsl(225, 21%, 45%);
    --light-grey: hsl(225, 40%, 83%);
    --grey-black: hsl(224, 35%, 11%);
    --white: hsl(0, 0%, 100%) ;

    /* Neutral Colors */
 
    /*  Typography -  (weight ?) */
    --chivo: 'Chivo', sans-serif;
}

/*  Small CSS Reset */
html {

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-size: 100%;
    
}

/* Background  */

.wrapper {
    /* Temp value */
    height: 667px;
}

.background-img {
    background-image: linear-gradient(hsla(224, 35%, 11%, 0.9), hsla(224, 35%, 11%, 0.9)) , url(./assets/mobile/image-host.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Header Section */

.logo {
    margin: 3.875rem 7.5rem 3.5625rem ;
}

/* Main Section */
.cta h1 {
    font-family: var(--chivo);
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 38px;
    color: var(--light-green);
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

.cta span {
    color: var(--white);
}

.cta p {
    display: inline-block;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: var(--light-grey);
    text-align: center;
    margin: 0 0 2.0625rem 0;
    padding: 0 25px;
}



/* Main Section */

/* Footer */
.decoration {
    visibility: hidden;
}
