/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap");

/* Variables */
:root {
  /* Primary Colors */
  --light-green: hsl(157, 74%, 62%);
  --pale-green: hsl(157, 100%, 85%);
  --dark-grey: hsl(225, 26%, 23%);
  --medium-grey: hsl(225, 21%, 45%);
  --light-grey: hsl(225, 40%, 83%);
  --grey-black: hsl(224, 35%, 11%);
  --white: hsl(0, 0%, 100%);

  /* Neutral Colors */

  /*  Typography -  (weight ?) */
  --chivo: "Chivo", sans-serif;
}

/*  Small CSS Reset */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--chivo);
}

/* Background  */
.wrapper {
  min-width: 100vw;
  min-height: 100vh;
}

.background-img {
  background-image: linear-gradient(
      hsla(224, 35%, 11%, 0.9),
      hsla(224, 35%, 11%, 0.9)
    ),
    url(./assets/mobile/image-host.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

/* Header Section */

.logo {
  margin: 3.875rem 7.5rem 3.5625rem;
  text-align: center;
}

/* Main Section */
.cta h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 2.375rem;
  color: var(--light-green);
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

.cta span {
  color: var(--white);
}

.cta p {
  font-style: normal;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--light-grey);
  text-align: center;
  margin: 0 0 2.0625rem 0;
  padding: 0 1.5625rem;
  opacity: 0.7;
}

/* Icons */
.icons {
  display: flex;
  justify-content: space-around;
  margin: 0 1.5rem 3rem;
  opacity: 0.7;
}

.icons img:nth-child(-n + 2) {
  height: 1.0625rem;
  align-self: center;
}

.icons img:nth-child(3) {
  height: 0.6875rem;
  align-self: center;
}

.icons img:nth-child(4) {
  height: 0.9375rem;
  align-self: center;
}

/* Request Access Section */

.access {
  width: 20.4375rem;
  margin: 0 auto;
}

.form__email {
  width: 18.875rem;
  height: 2.875rem;
  background-color: var(--dark-grey);
  border: 0px;
  border-radius: 1.75rem;
  margin: 0 0 1rem 0;
}

.form__email::placeholder {
  opacity: 0.5;
}

input {
  font-size: 0.875rem;
  padding: 0 0 0 2em;
  color: var(--white);
}

.form__button {
  width: 20.375rem;
  height: 2.875rem;
  background-color: var(--light-green);
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  border: 0px;
  border-radius: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--grey-black);
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}

.form__button:hover {
  background-color: var(--pale-green);
}

/* Footer */
.decoration {
  visibility: hidden;
}

/* Tablet Layout */
@media only screen and (min-width: 600px) {
  body {
    background-color: var(--grey-black);
  }

  .background-img {
    background-image: url(./assets/tablet/image-host.jpg);
    background-position: top right;
    background-size: 30.6875rem;
    background-repeat: no-repeat;
  }

  .logo {
    text-align: left;
    margin: 3.125rem 0 9.5rem 2.4375rem;
  }

  .block {
    display: flex;
    flex-direction: column;
    background-color: var(--grey-black);
    margin: 0 5.875rem 16.0625rem 2.4375rem;
  }

  .cta {
    order: 1;
    background-color: var(--grey-black);
    margin: 5.8125rem 0 1.9375rem 0;
  }

  .cta h1 {
    text-align: left;
    font-size: 3rem;
    line-height: 3rem;
  }

  .cta p {
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0;
    margin-right: 11.875rem;
  }

  .icons {
    order: 3;
    justify-content: flex-start;
    margin: 0rem;
  }

  .icons img:nth-child(-n + 2) {
    height: 1.8125rem;
    margin-right: 2.5625rem;
  }

  .icons img:nth-child(3) {
    height: 1.125rem;
    margin-right: 2.5625rem;
  }

  .icons img:nth-child(4) {
    height: 1.625rem;
  }

  .access {
    order: 2;
    width: 500px;
    height: 3.5rem;
    align-self: flex-start;
    margin-bottom: 4rem;
  }

  .form__component {
      display: inline-block;
  }

  .form__email {
    width: 26.6875rem;
    height: 3.5rem;
  }

  .form__button {
      width: 10.125rem;
      height: 2.875rem;
      margin-left: -34.5%;


  }

  .decoration {
    visibility: visible;
    position: absolute;
    bottom: 0rem;
    left: 1.875rem;
  }
}

/* Desktop Layout */
@media only screen and (min-width: 992px) {
  .background-img {
    background-image: url(./assets/desktop/image-host.jpg);
    background-position: top 130px right;
    background-size: 888px;
    background-repeat: no-repeat;
  }

  .logo {
    margin: 102px 0 6.4375rem 10.3125rem;
  }

    .block  {
        margin: 103px 552px 0 165px;
    }

  .decoration {
    visibility: visible;
    left: unset;
    right: 0px;
    margin-bottom: 4.875rem;
  }
}
