/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

/* Variables */
:root {
    /* Primary Colors */
    --light-green: hsl(157, 74%, 62%);
    --dark-grey: hsl(225, 26%, 23%);
    --medium-grey: hsl(225, 21%, 45%);
    --light-grey: hsl(225, 40%, 83% );
    --grey-black: hsl(224, 35%, 11%);
    --white: hsl(0, 0%, 100%) ;

    /* Neutral Colors */
 
    /*  Typography -  (weight ?) */
    --chivo: 'Chivo', sans-serif;
}

/*  Small CSS Reset */
html {

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-size: 100%;
}

/* Background  */
.background-img {
    background-image: linear-gradient(rgba(18, 23, 37, 0.8), rgba(18, 23, 37, 0.8)) , url(./assets/mobile/image-host.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat
}

/* Header Section */

/* Tags Section */

/* Main Section */

/* Footer */
